body {

}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

img {
    max-width: 100%;
}

p {
    text-indent: 10px;
}

.row {
    width: 100%;
    margin-left: 0;
}

.col {
  margin-left: 10px;
  margin-right: 10px;
}

.marginAdd {
    display: none;
}

.mirador-canvas-nav {
    display: none !important;
}

.gothic {
    font-family: 'UnifrakturCook', sans-serif; /* Apply Gothic font */
    font-size: 2em; /* Adjust font size as needed */
    color: #111; /* Ensure it has a dark color for emphasis */
}

.manuscript-page #text {
    max-width: 40%; /* Makes the text slimmer */
    margin: 0 auto; /* Centers the text on the page */
    text-align: justify; /* Justifies the text for clean edges */
    line-height: 1.8; /* Adds space between lines */
    padding: 10px; /* Adds space inside the text container */
    font-family: 'Georgia', serif; /* Ensures an elegant, literary font */
    font-size: 16px; /* Adjusts font size for readability */
}